.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  background: url(https://www.yeira.training/img/bg-login.jpg) no-repeat center center fixed;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

dl {
  border: 3px double #fad6d5;
  padding: 0.5em;
  background-color: white;
}

dt {
  float: left;
  clear: left;
  width: 70px;
  text-align: right;
  font-weight: bold;
  color: #FF694C;
}

.calculationBar dt {
  width: 90px;
}

dt::after {
  content: ":";
}

dd {
  margin: 0 0 0 80px;
  padding: 0 0 0.5em 0;
}

.calculationBar dd {
  margin: 0 0 0 100px;
}

.collapse.in{
  display: block;
}

.collapse{
  height: auto !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .calculationBar dt {
    width: 80px;
  }

  .calculationBar dd {
    margin: 0 0 0 84px;
  }

  dl.calculationBar {
    padding: 0.5em 0.1em;
  }

}
